<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        h1{
            text-align: center;
            color:brown;
        }
        h2{
            text-align: justify;
            color: rgb(209, 35, 79);
            font-weight: 200;
        }
    </style>
</head>
<body>
    <h1>
        My Profile
    </h1>

    <h2>
        Name : <%=val.name%>
    </h2>
    <h2>
        Age : <%=val.age%>
    </h2>
    <h2>
        City : <%=val.city%>
    </h2>
    
</body>
</html>